.card {
  margin: 20px;
  padding: 10px;
  border: 2px solid #ff0397;
  height: 400px;
  width: 300px;
  background: white;
  color: black;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.card-image--container {
  overflow: hidden;
  max-width: 250px;
}

.trainer1 {
  width: 250px;
  margin-top: -100px;
}

.trainer2 {
  width: 250px;
}

.trainer3 {
  width: 250px;
  margin-top: -100px;
}

.trainer4 {
  width: 470px;
  margin-left: -85px;
}

.trainer5 {
  width: 350px;
  margin-left: -80px;
}
