.card {
  margin: 20px;
  padding: 10px;

  height: 400px;
  width: 400px;
  background: #001288;
  color: black;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 50%;
  color: white;
}

.card-image--container {
  overflow: hidden;
  max-width: 250px;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.trainer1 {
  width: 250px;
  margin-top: -100px;
}

.trainer2 {
  width: 250px;
}

.trainer3 {
  width: 250px;
  margin-top: -110px;
}

.trainer4 {
  width: 470px;
  margin-left: -85px;
  margin-top: -30px;
}

.trainer5 {
  width: 350px;
  margin-left: -80px;
}
