.gallery {
  background: white;

  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  padding: 40px 0px 100px 0px;
}

.photo-container {
  width: 100%;
  padding: 0px;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 40px;
}

.dummy {
  z-index: 0;
  position: relative;

  overflow: hidden;

  max-height: 800px;
}

.left-arrow {
  position: absolute;
  height: 50px;

  text-shadow: 0px 0px 5px black;
  background: #ffffff80;
  border-radius: 50%;

  top: 50%;
  left: 4px;
  cursor: pointer;

  /* Firefox */
  top: -moz-calc(50% - 25px);
  /* WebKit */
  top: -webkit-calc(50% - 25px);
  /* Opera */
  top: -o-calc(50% - 25px);
  /* Standard */
  top: calc(50% - 25px);
}

.right-arrow {
  position: absolute;
  height: 50px;

  text-shadow: 0px 0px 5px black;
  background: #ffffff80;
  border-radius: 50%;

  cursor: pointer;

  /* Firefox */
  top: -moz-calc(50% - 25px);
  /* WebKit */
  top: -webkit-calc(50% - 25px);
  /* Opera */
  top: -o-calc(50% - 25px);
  /* Standard */
  top: calc(50% - 25px);

  /* Firefox */
  left: -moz-calc(100% - 54px);
  /* WebKit */
  left: -webkit-calc(100% - 54px);
  /* Opera */
  left: -o-calc(100% - 54px);
  /* Standard */
  left: calc(100% - 54px);
}

.right-arrow:hover {
  background: white;
  border-radius: 50%;
}

.left-arrow:hover {
  background: white;
  border-radius: 50%;
}

.left-arrow:active {
}

.right-arrow:active {
}

.gallery-img {
  width: 100%;
  margin-top: -300px;
}

.img4 {
  margin-top: -500px;
}

.img6 {
  margin-top: -700px;
}

.img13 {
  margin-top: -900px;
}

.img16 {
  margin-top: -200px;
}

.img {
}

.img {
}

.img {
}

@media screen and (max-width: 1400px) {
  .photo-container {
    background: #571d3f;
    border: 2px solid #571d3f;
    padding: 20px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 20px;

    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .photo-container {
    border: 2px solid #571d3f;
    padding: 20px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 20px;

    width: 90%;
  }

  .gallery {
    background: #571d3f;

    text-align: center;
    padding: 20px 20px 40px 20px;
  }
}

@media screen and (max-width: 960px) {
  .photo-container {
    border: 2px solid #571d3f;
    padding: 20px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 0px;

    width: 100%;
  }

  .gallery {
    background: #571d3f;

    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    padding: 10px 0px 10px 0px;
  }
}

@media screen and (max-width: 660px) {
  .photo-container {
    border: 2px solid #571d3f;
    padding: 20px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 0px;

    width: 100%;
  }

  .gallery {
    background: #571d3f;

    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    padding: 10px 0px 10px 0px;
  }

  .left-arrow {
    position: absolute;
    height: 30px;

    text-shadow: 0px 0px 5px black;
    top: 50%;
    left: 1%;
    cursor: pointer;

    /* Firefox */
    top: -moz-calc(50% - 15px);
    /* WebKit */
    top: -webkit-calc(50% - 15px);
    /* Opera */
    top: -o-calc(50% - 15px);
    /* Standard */
    top: calc(50% - 15px);
  }

  .right-arrow {
    position: absolute;
    height: 30px;

    text-shadow: 0px 0px 5px black;

    cursor: pointer;

    /* Firefox */
    top: -moz-calc(50% - 15px);
    /* WebKit */
    top: -webkit-calc(50% - 15px);
    /* Opera */
    top: -o-calc(50% - 15px);
    /* Standard */
    top: calc(50% - 15px);

    /* Firefox */
    left: -moz-calc(100% - 34px);
    /* WebKit */
    left: -webkit-calc(100% - 34px);
    /* Opera */
    left: -o-calc(100% - 34px);
    /* Standard */
    left: calc(100% - 34px);
  }
}
