.gallery {
  background: #ff0397;

  color: white;
  text-align: center;
  padding: 40px 0px 0px 0px;
}

.photo-container {
  background: #ff0397;

  width: 100%;
  padding: 20px 100px 100px 100px;
  color: white;
  margin-top: 40px;
}

.dummy {
  z-index: 0;
  position: relative;
  background: #ff0397;

  max-height: 779px;
  overflow: hidden;
}

.gallery-img {
  width: 100%;
}

.left-arrow {
  position: absolute;
  height: 50px;
  color: #0022ff;
  text-shadow: 0px 0px 5px black;
  top: 50%;
  left: 4px;
  cursor: pointer;

  /* Firefox */
  top: -moz-calc(50% - 25px);
  /* WebKit */
  top: -webkit-calc(50% - 25px);
  /* Opera */
  top: -o-calc(50% - 25px);
  /* Standard */
  top: calc(50% - 25px);
}

.right-arrow {
  position: absolute;
  height: 50px;
  color: #0022ff;
  text-shadow: 0px 0px 5px black;

  cursor: pointer;

  /* Firefox */
  top: -moz-calc(50% - 25px);
  /* WebKit */
  top: -webkit-calc(50% - 25px);
  /* Opera */
  top: -o-calc(50% - 25px);
  /* Standard */
  top: calc(50% - 25px);

  /* Firefox */
  left: -moz-calc(100% - 54px);
  /* WebKit */
  left: -webkit-calc(100% - 54px);
  /* Opera */
  left: -o-calc(100% - 54px);
  /* Standard */
  left: calc(100% - 54px);
}

@media screen and (max-width: 1400px) {
  .photo-container {
    background: #ff0397;
    border: 2px solid #ff0397;
    padding: 20px;
    color: white;
    margin-top: 20px;

    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .photo-container {
    border: 2px solid #ff0397;
    padding: 20px;
    color: white;
    margin-top: 20px;

    width: 90%;
  }

  .gallery {
    background: #ff0397;

    text-align: center;
    padding: 20px 20px 40px 20px;
  }
}

@media screen and (max-width: 960px) {
  .photo-container {
    border: 2px solid #ff0397;
    padding: 20px;
    color: white;
    margin-top: 0px;

    width: 100%;
  }

  .gallery {
    background: #ff0397;

    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
  }
}

@media screen and (max-width: 660px) {
  .photo-container {
    border: 2px solid #ff0397;
    padding: 20px;
    color: white;
    margin-top: 0px;

    width: 100%;
  }

  .gallery {
    background: #ff0397;

    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
  }

  .left-arrow {
    position: absolute;
    height: 30px;
    color: #0022ff;
    text-shadow: 0px 0px 5px black;
    top: 50%;
    left: 1%;
    cursor: pointer;

    /* Firefox */
    top: -moz-calc(50% - 15px);
    /* WebKit */
    top: -webkit-calc(50% - 15px);
    /* Opera */
    top: -o-calc(50% - 15px);
    /* Standard */
    top: calc(50% - 15px);
  }

  .right-arrow {
    position: absolute;
    height: 30px;
    color: #0022ff;
    text-shadow: 0px 0px 5px black;

    cursor: pointer;

    /* Firefox */
    top: -moz-calc(50% - 15px);
    /* WebKit */
    top: -webkit-calc(50% - 15px);
    /* Opera */
    top: -o-calc(50% - 15px);
    /* Standard */
    top: calc(50% - 15px);

    /* Firefox */
    left: -moz-calc(100% - 34px);
    /* WebKit */
    left: -webkit-calc(100% - 34px);
    /* Opera */
    left: -o-calc(100% - 34px);
    /* Standard */
    left: calc(100% - 34px);
  }
}
