.hero {
  position: relative;
  overflow: hidden;
  height: 950px;
}

.hero-image {
  margin-top: -60px;
  position: absolute;
  transition: width 12s linear;
}

@media screen and (max-width: 800px) {
  .hero-image {
    margin-top: 0px;
  }
}

.unzoomed {
  width: 100vw;
}

.zoomed {
  width: 135vw;
}

.rendered {
  opacity: 100%;
}

.hidden {
  opacity: 0%;
}

.hero-title {
  position: absolute;
  top: 40%;
  left: 19.7%;
  font-size: 66px;

  text-shadow: 0px 0px 10px black;
}

.tagline {
  position: absolute;
  top: 54%;
  left: 20%;
  font-size: 38px;

  text-shadow: 0px 0px 10px black;
}

.tagline2 {
  position: absolute;
  top: 48%;
  left: 20%;
  font-size: 38px;

  text-shadow: 0px 0px 10px black;
}

.button {
  position: absolute;
  top: 46%;
  left: 70%;
  background-color: #ff039777;
  border: 2px solid #001288;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: 200%;
}

.button:hover {
  color: white;
  background-color: #ff0397;
}

.button:active {
  top: 46.2%;
  left: 70.1%;
}

.pink {
  color: #ff0397;
}
