.mobile {
  display: none;
}

.tiles {
  color: black;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  height: 300px;
}

.box-image {
  background: #9ba6b3;
  width: 50%;
  height: 300px;
  overflow: hidden;
}

.box-content-right {
  background: white;
  width: 50%;
  height: 300px;
  color: black;
  padding: 40px;
  background: url(../Assets//accents//tile.png) no-repeat center;
}
.box-content-left {
  background: white;
  width: 50%;
  height: 300px;
  color: black;
  padding: 40px;
  background: url(../Assets//accents//tile2.jpg) no-repeat center;
}

.text-container-left {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: right;
  width: 100%;
  padding-left: 30%;
}

.text-container-right {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;

  padding-right: 40%;
}

.tile-title-right {
  text-align: right;
  padding-right: 100px;
}

.tile-title-left {
  text-align: left;
  padding-left: 100px;
}

.tile-text {
  padding-top: 20px;
  font-weight: 500;
  opacity: 0.8;
}

.tile-image1 {
  height: 160%;
  margin-top: -150px;
}

.tile-image2 {
  height: 160%;
  margin-top: -150px;
  margin-left: -15px;
}

.tile-image3 {
  height: 250%;
  margin-top: -120px;
}

.tile-image4 {
  height: 160%;
  margin-top: -150px;
}

@media screen and (max-width: 1400px) {
  .tile-image1 {
    height: 160%;
    margin-top: -150px;
    margin-left: -100px;
  }

  .box-content-right {
    background: white;
    width: 50%;
    height: 300px;
    color: black;
    padding: 40px;
    background: url(../Assets//accents//tile.png) no-repeat center;
  }
  .box-content-left {
    background: white;
    width: 50%;
    height: 300px;
    color: black;
    padding: 40px;
    background: url(../Assets//accents//tile2.jpg) no-repeat center;
  }
}

@media screen and (max-width: 1200px) {
  .box-content-right {
    background: white;
    width: 50%;
    height: 300px;
    color: black;
    padding: 40px;
    background: url(../Assets//accents//tile.png) no-repeat 50% 50%;
  }
  .box-content-left {
    background: white;
    width: 50%;
    height: 300px;
    color: black;
    padding: 40px;
    background: url(../Assets//accents//tile2.jpg) no-repeat 43% 50%;
  }

  .text-container-left {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: right;
    width: 100%;
    padding-left: 30%;
    padding-top: 30px;
  }

  .text-container-right {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;

    padding-right: 40%;
    padding-top: 30px;
  }

  .tile-title2 {
    margin-left: -40px;
  }

  .tile-title3 {
    margin-right: -40px;
  }

  .tile-image1 {
    height: 160%;
    margin-top: -150px;
    margin-left: -250px;
  }

  .tile-image2 {
    height: 160%;
    margin-top: -150px;
    margin-left: -15px;
  }

  .tile-image3 {
    height: 250%;
    margin-top: -120px;
  }

  .tile-image4 {
    height: 150%;
    margin-top: -150px;
    margin-left: -100px;
  }
}

@media screen and (max-width: 960px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .row {
    display: block;

    height: auto;
  }

  .tile-title1 {
    margin-right: -15%;
  }

  .tile-title2 {
    margin-left: -30%;
  }

  .tile-title3 {
    margin-right: -30%;
  }

  .tile-title4 {
    margin-left: -15%;
  }

  .box-content-right {
    background: white;
    width: 100%;
    height: 300px;
    color: black;
    padding: 40px;
    background: url(../Assets//accents//tile.png) no-repeat 50% 50%;
    border-right: 7px solid #ff0397;
  }
  .box-content-left {
    background: white;
    width: 100%;
    height: 300px;
    color: black;
    padding: 40px;
    background: url(../Assets//accents//tile2.jpg) no-repeat 43% 50%;
    border-left: 7px solid #ff0397;
  }

  .box-image {
    background: none;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: -10px;
  }

  .box-content {
    background: transparent;
    width: 100%;
    height: 500px;
    color: black;
    padding: 40px;
  }

  .text-container-right {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;

    padding-right: 30%;
    padding-top: 40px;
  }

  .text-container-left {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: right;
    width: 100%;
    padding-left: 30%;
    padding-top: 50px;
  }

  .tile-title-right {
    text-align: center;
    padding-right: 0px;
    padding-left: 50px;
  }

  .tile-title-left {
    text-align: center;
    padding-left: 0px;
    padding-right: 50px;
  }

  .tile-image1 {
    height: auto;
    width: 120vw;
    margin-top: -100px;
    margin-left: 0px;
    margin-bottom: -50px;
  }

  .tile-image2 {
    height: auto;
    width: 120vw;
    margin-top: -100px;
    margin-left: 0px;
    margin-bottom: -50px;
  }

  .tile-image3 {
    height: auto;
    width: 120vw;
    margin-top: -131px;
    margin-left: 0px;
    margin-bottom: -300px;
  }

  .tile-image4 {
    height: auto;
    width: 120vw;
    margin-top: -100px;
    margin-left: 0px;
    margin-bottom: -50px;
  }
}

.white {
  color: white;
}

@media screen and (max-width: 850px) {
  .box-content-right {
    background: white;
    width: 100%;
    height: 300px;
    color: black;
    padding: 40px;
    background: url(../Assets//accents//tile.png) no-repeat 50% 50%;
    border-right: none;
  }
  .box-content-left {
    background: white;
    width: 100%;
    height: 300px;
    color: black;
    padding: 40px;
    background: url(../Assets//accents//tile2.jpg) no-repeat 43% 50%;
    border-left: none;
  }
}

@media screen and (max-width: 850px) {
  .tile-image3 {
    height: auto;
    width: 120vw;
    margin-top: -131px;
    margin-left: 0px;
    margin-bottom: -260px;
  }
}

@media screen and (max-width: 650px) {
  .tile-image1 {
    height: auto;
    width: 120vw;
    margin-top: -80px;
    margin-left: 0px;
    margin-bottom: -30px;
  }

  .tile-image2 {
    height: auto;
    width: 120vw;
    margin-top: -80px;
    margin-left: 0px;
    margin-bottom: -30px;
  }

  .tile-image3 {
    height: auto;
    width: 120vw;
    margin-top: -71px;
    margin-left: 0px;
    margin-bottom: -230px;
  }

  .tile-image4 {
    height: auto;
    width: 120vw;
    margin-top: -80px;
    margin-left: 0px;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 550px) {
  .row {
    font-size: 16px;
  }

  .tile-image1 {
    height: auto;
    width: 120vw;
    margin-top: -60px;
    margin-left: 0px;
    margin-bottom: -10px;
  }

  .tile-image2 {
    height: auto;
    width: 120vw;
    margin-top: -60px;
    margin-left: 0px;
    margin-bottom: -10px;
  }

  .tile-image3 {
    height: auto;
    width: 120vw;
    margin-top: -51px;
    margin-left: 0px;
    margin-bottom: -210px;
  }

  .tile-image4 {
    height: auto;
    width: 120vw;
    margin-top: -60px;
    margin-left: 0px;
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 450px) {
  .tile-image1 {
    height: auto;
    width: 120vw;
    margin-top: -40px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .tile-image2 {
    height: auto;
    width: 120vw;
    margin-top: -40px;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .tile-image3 {
    height: auto;
    width: 120vw;
    margin-top: -51px;
    margin-left: 0px;
    margin-bottom: -140px;
  }

  .tile-image4 {
    height: auto;
    width: 120vw;
    margin-top: -40px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
