.tiles {
  color: black;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.box-image {
  background: #9ba6b3;
  width: 50%;
  height: 300px;
  overflow: hidden;
}

.box-content {
  background: white;
  width: 50%;
  height: 300px;
  color: black;
  padding: 40px;
}

.text-container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tile-image {
  width: 100%;
  margin-top: -120px;
}
