.topline {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  background: white;
  height: 80px;
  padding: 10px;
  box-shadow: 0px 8px 3px #0374ff;
}

.logo {
  width: 200px;
  color: black;
}

.links {
  width: 80%;
  display: flex;
  justify-content: center;
}
