.topline {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  background: #ffffff;
  height: 100px;
  padding: 10px;

  overflow: hidden;
  transition: all linear 0.3s;
}

.scrolled {
  background: #ffffffb6;
  height: 80px;
}

.logo {
  min-width: 200px;
  width: 200px;
  color: black;
  margin-left: 30px;
}

.links {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.link {
  background: none;
  font-size: 24px;
  letter-spacing: 3px;
}

@media screen and (max-width: 550px) {
  .links {
    font-size: 12px;
    font-weight: 600;
  }
}

.topline-stripes {
  width: 1000px;
  margin-left: -200px;
  z-index: -1;
}
