* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  line-height: 150%;
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  padding: 6px;
}

h4 {
  padding: 6px;
}

a {
  background-color: white;
  color: black;
  margin: 5px 10px;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.container {
  display: flex;
  justify-content: center;
}
