* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  color: white;
  line-height: 150%;
  font-size: 18px;
  max-width: 100vw;

}

.app {
  overflow-x: hidden;
  width: 100vw;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  padding: 6px;
}

h4 {
  padding: 6px;
}

a {
  background-color: white;
  color: black;

  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}

a:link {
  color: black;
}

/* visited link */
.link:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.container {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}
